extends layout

block content
  h1#main-title= title
  p Analyze the emotional undertones of a twitter user's tweets.

  form(method='POST' action='/search')
    div.form-group
      label(for='screen_name')
      input#screen_name.form-control(type='text', placeholder='Twitter Handle' name='screen_name')
      input#search_button.form-control(type='submit', value='Search')
