extends layout

block content
  h1= title
  p Analyze the emotion, language style, and social tendencies of a twitter user.
  
  form(method='POST' action='/search')
    div.form-group
      label(for='screen_name') Name:
      input#screen_name.form-control(type='text', placeholder='Twitter Handle' name='screen_name')
    
