body {
  padding: 50px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #aa3939;
  margin: auto;
  width: 90%;
}

#main-title {
  font: 50px "Lobster Two", cursive;
}

a {
  color: #aa6c39;
}

h1 {
  text-align: center;
  margin: 0 auto;
  padding: 5px;
  color: #fff;
  font-size: 50px;
}

p {
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 15px;
}

button {
  background-color: transparent;
  border-color: transparent;
  width: 33%;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 10px;
}

button.selected {
  background-color: #9a2929;
  margin-top: -10px;
  transform: translateY(10px);
}

.border {
  border-top: outset;
  width: 100%;
  margin-top: 10px;
}

.hide {
  display: none;
}

.center {
  text-align: center;
  margin: 0 auto;
  padding: 5px;
}

.emo {
  display: inline-block;
  padding: 5px;
  margin-right: 10px;
}

.anger {
  background-color: #f00;
  max-width: 100%;
}

.disgust {
  background-color: #009C00;
  max-width: 100%;
}

.fear {
  background-color: #000;
  max-width: 100%;
}

.joy {
  background-color: #FFE600;
  max-width: 100%;  
}

div.joy>p {
  color: #000;
}

.sadness {
  background-color: #5157fb;
  max-width: 100%;
}

.analytical {
  background-color: #326BA3;
  max-width: 100%;
}

.confident {
  background-color: #326BA3;
  max-width: 100%;
}

.tentative {
  background-color: #326BA3;
  max-width: 100%;
}

.openness {
  background-color: #5E72FF;
  max-width: 100%;
}

.conscientiousness {
  background-color: #0C65E8;
  max-width: 100%;
}

.extraversion {
  background-color: #19B8FF;
  max-width: 100%;
}

.agreeableness {
  background-color: #0CE2E8;
  max-width: 100%;
}

.emotion_range {
  background-color: #5AFFD2;
  max-width: 100%;
}

#graph {
  text-align: center;
  margin: 0 auto;
  padding: 5px;
}

#screen_name {
  width: 80%;
  height: 50px;
  font-size: 24px;
  padding: 5px;
  margin: 5px;
  display: inline-block;
  background-color: #dadada;
  border-radius: 5px;
  border-style: none;
  box-shadow: 2px 2px 2px #000;
  vertical-align: middle;
}

*:focus {
  outline: none;
}

#search_button {
  width: 15%;
  height: 59px;  
  background: #2d882d;
  color: white;
  padding: 5px;
  margin: 5px;
  border-style: outset;
  border-color: #2d882d;
  border-radius: 5px;
  font: bold 20px arial, sans-serif;
  text-shadow:none;
  display: inline-block;
  vertical-align: middle;
}


#search_again {
  width: 100%;
  height: 59px;  
  background: #2d882d;
  color: white;
  padding: 5px;
  margin-top: 10px;
  border-style: outset;
  border-color: #2d882d;
  border-radius: 5px;
  font: bold 20px arial, sans-serif;
  text-shadow:none;
  display: inline-block;
  vertical-align: middle;
}

